.header-title {
	text-align: center;
	font-family: monospace;
	font-weight: bold;
	color: white;
	background-color: #001529;
	background-image: url("../bglogo.jpg");
	background-size: 100%;
	background-position-y: 95%;
	background-position-x: center;
	max-height: auto;
}

.widget_container {
	size: auto;
}
