.modal-container {
	margin-left: -10%;
	margin-right: -10%;
}

ul {
	padding: 5px;
}

.footer {
	text-align: center;
}

.disclaimer {
	margin-top: 10px;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5;
}

.donate-btn {
	border-width: 0;
	background-color: transparent;
	color: #2196f3;
}

.btn {
	margin-left: -15px;
	top: 3px;
}
